[pull]
	ff = only
[user]
	email = hucancode@gmail.com
	name = hucancode
[credential]
	helper = libsecret
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
s = status
a = add
aa = add .
c = commit -m 
r = restore -S 
rr = restore -S .