

$cat_crust: #11111b;
$cat_mantle: #181825;
$cat_base: #1e1e2e;
$cat_surface0: #313244;
$cat_surface1: #45475a;
$cat_surface2: #585b70;
$cat_overlay0: #6c7086;
$cat_overlay1: #7f849c;
$cat_overlay2: #9399b2;
$cat_subtext0: #a6adc8;
$cat_blue: #89b4fa;
$cat_green: #a6e3a1;
$cat_red: #f38ba8;
$cat_teal: #94e2d5;
$cat_sky: #91d7e3;
$cat_text: #cdd6f4;
$cat_flamingo: #f2cdcd;

* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: Fira Code,Iosevka Nerd Font,FiraCode Nerd Font;
}

.volume-icon {
    font-size: 1.4rem;
    color: $cat_text;
}
scale trough {
  background-color: $cat_surface1;
  min-height: 0.8rem;
  min-width: 12rem;
  &, highlight {
    border-radius: 3px;
  }
  highlight {
    background-image: linear-gradient(to right, $cat_flamingo 30%, $cat_sky 50%, $cat_sky 100% *50);
  }
}

.bar {
    background-color: $cat_mantle;
    padding: 0.6rem 0;
}

.screenshot {
  background: $cat_crust;
  .label {
    color: $cat_sky;
    font-family: Noto Sans, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
  }
  .title {
    font-size: 2rem;
  }
  .preview {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
  }
}
.clock {
  font-weight: bold;
  font-size: 1.0rem;
  background-color: $cat_surface0;
  color: $cat_text;
  border-radius: 5px;
  padding: 0 8px;
  margin: 0.3rem 0 0.3rem 0;
}

.system-status {
  font-size: 1.0rem;
  background-color: $cat_surface0;
  color: $cat_text;
  border-radius: 5px;
  padding: 0 8px;
  margin: 0.3rem 0 0.3rem 0;
}
.workspace-focused {
    color: $cat_subtext0;
}
.workspace-empty {
    color: $cat_surface0;
}
.workspace-occupied {
    color: $cat_surface1;
}
.text-xs {
  font-size: 1.1rem;
}
.text-sm {
  font-size: 1.5rem;
}
.text-lg {
  font-size: 4rem;
}
.text-xl {
  font-size: 10rem;
}
.power-menu {
  background: $cat_crust;
  .label {
    color: $cat_sky;
    font-family: Noto Sans, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
  }
}
.button-off {
  color: $cat_red;
}
.button-reb {
    color: $cat_green;
}
.button-lock {
    color: $cat_blue;
}
.button-sleep {
    color: $cat_green;
}
.highlight-hover:hover {
  color: $cat_sky;
}
.os-logo { 
  font-size: 1.5rem; 
  padding: 0.3rem; 
  color: $cat_subtext0; 
}

.music {
  font-family: sans-serif;
}
