[Desktop Entry]
Name=Weapon Master
Exec=/unreal/5/UnrealEngine/Engine/Binaries/Linux/UnrealEditor /unreal/WeaponMaster/WeaponMaster.uproject
Terminal=false
Type=Application
Categories=Development
Icon=weaponmaster
